<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="../static/favicon.png" />
        <meta name="theme-color" content="#000000" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/style.css') }}"
        />
        <title>PC Builder API</title>
    </head>
    <body>
        <header>
            <img src="../static/logo.png" alt="Logo" />
            <h1 id="header-logo-title">PC Builder</h1>
        </header>
        <main>
            <h1 class="main-title">Bem Vindo à API!</h1>
            <section class="section-pcbuilder">
                <div class="section-strip">
                    <h2 class="section-strip-title">PC BUILDER</h2>
                </div>
                <div class="section-content-pcbuilder">
                    <a
                        href="https://github.com/ezms/pc-builder-api"
                        class="link-button repo"
                        target="_blank"
                        rel="noreferrer noopener"
                    >
                        Repositório e documentação
                    </a>
                    <a
                        href="https://pc-builder-capstone-q2.vercel.app/"
                        target="_blank"
                        rel="noreferrer noopener"
                        class="link-button site"
                    >
                        E-commerce PC Builder
                    </a>
                </div>
            </section>

            <section class="section-devs">
                <h2 class="section-title">DESENVOLVEDORES</h2>
                <div class="section-content-devs">
                    <ul class="section-content-container">
                        <li class="section-content-container-card">
                            <img
                                src="./static/profile_emanuel.png"
                                alt="Emanuel"
                            />
                            <h4>Emanuel Zago Martins</h4>
                            <div class="contacts-buttons">
                                <a
                                    href="https://www.linkedin.com/in/emanuelzmartins/"
                                    target="_blank"
                                    class="link-button-linkedin"
                                    rel="noreferrer noopener"
                                    >Linkedin</a
                                >
                                <a
                                    href="https://github.com/ezms"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="link-button-linkedin"
                                    >GitHub</a
                                >
                            </div>
                        </li>
                        <li class="section-content-container-card">
                            <img src="../static/profile_igor.png" alt="Igor" />
                            <h4>Igor Matheus Gomes</h4>
                            <div class="contacts-buttons">
                                <a
                                    href="https://www.linkedin.com/in/igormgg/"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="link-button-linkedin"
                                    >Linkedin</a
                                >
                                <a
                                    href="https://github.com/igormgg"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="link-button-linkedin"
                                    >GitHub</a
                                >
                            </div>
                        </li>
                        <li class="section-content-container-card">
                            <img
                                src="./static/profile_naftaly.png"
                                alt="Naftaly"
                            />
                            <h4>Naftaly Junior</h4>
                            <div class="contacts-buttons">
                                <a
                                    href="https://www.linkedin.com/in/naftalyjunior/"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="link-button-linkedin"
                                    >Linkedin</a
                                >
                                <a
                                    href="https://github.com/Nafly09"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="link-button-linkedin"
                                    >GitHub</a
                                >
                            </div>
                        </li>
                        <li class="section-content-container-card">
                            <img
                                src="../static/profile_rafael.png"
                                alt="Rafael"
                            />
                            <h4>Rafael João Schug</h4>
                            <div class="contacts-buttons">
                                <a
                                    href="https://www.linkedin.com/in/rafael-schug/"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="link-button-linkedin"
                                    >Linkedin</a
                                >
                                <a
                                    href="https://github.com/RafaelSchug"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="link-button-linkedin"
                                    >GitHub</a
                                >
                            </div>
                        </li>
                        <li class="section-content-container-card">
                            <img
                                src="./static/profile_victor.png"
                                alt="Victor"
                            />
                            <h4>Victor Lucena Scherer</h4>
                            <div class="contacts-buttons">
                                <a
                                    href="https://www.linkedin.com/in/victorscherer/"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="link-button-linkedin"
                                    >Linkedin</a
                                >
                                <a
                                    href="https://github.com/victorlscherer"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="link-button-linkedin"
                                    >GitHub</a
                                >
                            </div>
                        </li>
                        <li class="section-content-container-card">
                            <img
                                src="../static/profile_vinicius.png"
                                alt="Vinícius"
                            />
                            <h4>Vinícius de Freitas</h4>
                            <div class="contacts-buttons">
                                <a
                                    href="https://www.linkedin.com/in/vinicius-de-freitas/"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="link-button-linkedin"
                                    >Linkedin</a
                                >
                                <a
                                    href="https://github.com/Vinicius2m"
                                    target="_blank"
                                    rel="noreferrer noopener"
                                    class="link-button-linkedin"
                                    >GitHub</a
                                >
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
        <footer></footer>
    </body>
</html>
